.intro__title {
  max-inline-size: 1200px;
  margin: 0 0 50px;
  font-weight: 700;
  font-size: clamp(2rem, 1.6828rem + 1.1858vw, 2.75rem);
  line-height: 1.45;
  text-align: center;
}

@media (width < 768px) {
  .intro__title {
    margin-block-end: 30px;
    font-weight: 600;
  }
}
