.footer {
  padding: 35px 100px;
  line-height: 1.55;
  text-align: center;
  background-color: var(--background-color, #d6fc52);
}

@media (width < 768px) {
  .intro {
    padding: 0 28px 40px;
  }
}
