doctype html
html(lang="ru")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./vendor/fonts/fonts.css")
    link(rel="stylesheet", href="./vendor/normalize.css")
    link(rel="stylesheet", href="./bundle.css")
    title Породы собак с наибольшей продолжительностью жизни
  body.page
    header.header
      div.header__logo-block
        button(type="button").burger__button 
          span.burger__button-line
          span.burger__button-line
          span.burger__button-line
        span.logo LOGO
      nav.burger.header__burger 
        ul.burger__list 
          li.burger__list-item  
            a(href="#0").burger__link Главная
          li.burger__list-item  
            a(href="#0").burger__link Породы
          li.burger__list-item  
            a(href="#0").burger__link Рейтинги
      div.buttons
        button(type="button").buttons__button Вход
        button(type="button").buttons__button.buttons__button_accent Регистрация
    main.content
      aside.banner 
        a(href="#0").banner__link
      section.intro 
        h1.intro__title Породы собак с наибольшей продолжительностью жизни
        div.intro__text
          p.intro__paragraph Авторы #[a(href="#0").intro__link исследования] изучили данные 876 039 питомцев, из числа которых была сформирована выборка из 18 чистокровных пород и метисов. Для всех с учётом массы различных факторов рассчитывалась ожидаемая продолжительность жизни и вероятность смерти.
          p.intro__paragraph Все сведения были получены из системы VetCompass, которая собирает обезличенные клинические записи из ветеринарных клиник страны в централизованное хранилище.
          p.intro__paragraph Весь список изученных пород:
          ol.intro__list 
            li.intro__list-item Джек-рассел-терьер — 12,72 года (максимум — 19 лет).
            li.intro__list-item Йоркширские терьеры — 12,54 года (максимум — 18 лет).
            li.intro__list-item Бордер-колли — 12,10 года (максимум — 17 лет).
            li.intro__list-item Спрингер-спаниели — 11,92 года (максимум — 16 лет).
            li.intro__list-item Метисы — 11,82 года (максимум — 19 лет).
            li.intro__list-item Лабрадор-ретривер — 11,77 года (максимум — 16 лет).
            li.intro__list-item Стаффордширский бультерьер — 11,33 года (максимум — 18 лет).
            li.intro__list-item Кокер-спаниель — 11,31 года (максимум — 16 лет).
        h2.intro__subtitle Джек-рассел-терьер
        div.intro__text
          p.intro__paragraph Джек-рассел-терьер – небольшая, но крепко сложенная собака. Рост в холке составляет 25-30 см. Строгих нормативов по весу не закреплено, однако специалисты отмечают, что гармонично выглядит джек-рассел-терьер, у которого на каждые 5 см роста приходится 1 кг веса, то есть желательная масса взрослого представителя этой породы – 5-6 кг.
        h2.intro__subtitle Йоркширский терьер
        div.intro__text
          p.intro__paragraph Йоркширский терьер – одна из самых популярных в мире комнатно-декоративных пород собак. Йорк очарователен внешне, энергичен, ласков и является отличным компаньоном.
          img(src="./images/dog.jpg").intro__image
          p.intro__paragraph Йоркширский терьер – превосходная собака, в характере которой смелость, резвость, выносливость сочетаются с удивительной деликатностью, интеллигентностью и сообразительностью.
        table.intro__table 
          tr.intro__table-row 
            td.intro__table-data Джек-рассел-терьер
            td.intro__table-data 30 см
            td.intro__table-data 13-16 лет
            td.intro__table-data высокая активность
          tr.intro__table-row 
            td.intro__table-data Йоркширский терьер
            td.intro__table-data 17 см
            td.intro__table-data 12-15 лет
            td.intro__table-data сообразительность
          tr.intro__table-row 
            td.intro__table-data Бордер-колли
            td.intro__table-data 50 см
            td.intro__table-data 12-15 лет
            td.intro__table-data свободолюбивы
        table.intro__table 
          tr.intro__table-row 
            td.intro__table-data Джек-рассел-терьер
            td.intro__table-data 13-16 лет
            td.intro__table-data высокая активность
          tr.intro__table-row 
            td.intro__table-data Йоркширский терьер
            td.intro__table-data 12-15 лет
            td.intro__table-data сообразительность
          tr.intro__table-row 
            td.intro__table-data Бордер-колли
            td.intro__table-data 12-15 лет
            td.intro__table-data свободолюбивы
        table.intro__table 
          tr.intro__table-row 
            td.intro__table-data Джек-рассел-терьер
            td.intro__table-data высокая активность
          tr.intro__table-row 
            td.intro__table-data Йоркширский терьер
            td.intro__table-data сообразительность
          tr.intro__table-row 
            td.intro__table-data Бордер-колли
            td.intro__table-data свободолюбивы
    footer.footer ©2021 REGAL ASSETS. All rights reserved
  script(src="./js/burger.js")